@import url('https://fonts.maateen.me/bangla/font.css');

@font-face {
    font-family: 'Bangla';
    src: url('https://fonts.maateen.me/bangla/font.css');
}

.content {
  background: ;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  overflow-y: scroll;
  box-sizing: border-box;
  border: 9px;
  border-style: groove;
  border-left-color: Blue;
  border-top-color: gold;
  border-right-color: Green;
  border-bottom-color: Red;
}

.content .search-box {
  width: 100%;
  height: 50px;
  position: relative;
}

.content .search-box input {
  background: transparent;
  color: black;
  width: 100%;
  height: 100%;
  padding: 5px 0px 0px 10px;
  font-size: 18px;
  font-family: ;
  font-weight: bold;
  outline: none;
  border: 2px solid red;
  border-radius: 10px 10px 0px 0px;
}



.content .search-box label {
  background: linear-gradient(210deg, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094);
  -webkit-background-clip: text;
  background-size: 500%;
  color: transparent;
  padding: 20px;
  animation: colour-animate 30s linear infinite;
  top: 10px;
  left: 15px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-transform: capitalize;
  transition: top .3s;
  pointer-events: none;
}

.content .search-box input:focus ~ label,
.conrent .search-box input:valid ~ label {
  background: white;
  color: green;
  font-size: 15px;
  font-weight: bold;
  top:-9px;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.content .search-box input:focus,
.content .search-box input:valid {
  border: 2px solid green;
  animation-name: example;
  animation-duration: 4s linear infinite;
}

@keyframes colour-animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500% 0;
    }
}

table {
  background: url('https://github.com/masumbillah6778/images/raw/main/bg3.pg');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  width: 100%;
  min-height: 300px;
  font-size: 15px;
  font-family: 'times', Bangla;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
}

table tr:nth-of-type(odd) {
 background-color: #eee;
}

.ttrimg {
  background: url("https://github.com/masumbillah6778/images/raw/main/bg3.jpg");
  background-size: cover;
  color: white;
}

table #advance-table {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  border: 2px solid red;
  border-radius: 50px;
}

table th {
  background: teal;
  color: White;
  padding: 5px;
  top: 0;
  position: sticky;
  border-bottom: 2px solid red;
}

table td {
  color: black;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  border: 1px solid green;
}

table td:hover {
  background: #e9b10a;
  color: white;
}
 
#advance-table {
 counter-reset: serial-number;
}
  
#advance-table tr {
    counter-increment: row;
}

#advance-table td:first-child:before {
  /*background: Red;*/
  color: black;
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  border-radius: 50px;
  counter-increment: serial-number;
  content: counter(row, english) '. ';
}

.ttdimg {
  background: url("https://github.com/masumbillah6778/images/raw/main/bg3.jpg");
  background-size: cover;
}

 .active-row {
  background-color: blue;
}

.dot {
  position: relative;
  width: 65px;
  margin: 0 auto;
  font-size: 16px;
  text-align: right;
}

.dot::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -4px;
  top: 50%;
  right: -16px;
  display: block;
  position: absolute;
  border-radius: 50%;
}
  
.r::after {
  background: Red;
}

.g::after {
  background: green;
}

.b::after {
  background: blue;
}

.y::after {
  background: yellow;
}

table span {
  color: red;
  font-size: 10px;
}

/*.content td:nth-child(6n+1) {
  background: Cyan;
  color: Red;
}
  
.content td:nth-child(6n+2) {
  background: Yellow;
  color: Red;
}
  
.content td:nth-child(6n+3) {
  background: Pink;
  color: Red;
}
  
.content td:nth-child(6n+4) {
  background: Lime;
  color: Red;
}
  
.content td:nth-child(6n+5) {
  background: Blue;
  color: Red;
}
  
.content td:nth-child(6n+6) {
  background: Orange;
  color: Red;
}*/
