.content {
  width: 100%;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  display: grid;
  display: fle;
  flex-wrap: wra;
  gap: 20px;
  place-content: center;
  justify-content: center;
  align-items: center;
}
 
.content button {
  background: whit;
  width: 80p;
  height: 30p;
  padding: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  cursor: pointer;
}
  
.content button:is(:hover,:focus)::before {
  inset: 0.3em;
}

/* method 1 -> use border-image */
.gradient-btn-1 {
  border-image: linear-gradient(to right, yellow, green, blue, indigo, red, orange) 1;
  border-width: 4px;
  border-style: solid;
}
  
/* =========== Gradian Text =========== */
.gradient-btn-1 {
  content: attr(data);
  background: linear-gradient(to left, yellow, green, blue, indigo, red, orange);
 -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

/* method 2 -> use background-clip to support border-radius */
.gradient-btn-2 {
  background: linear-gradient(white, white) padding-box,
  			  linear-gradient(to right, yellow, green, blue, indigo, red, orange) border-box;
  border-radius: 100px;
  border: 4px solid transparent;
}
  
/* =========== Gradian Text =========== */
.gradient-btn-2::after {
  content: attr(data);
  background: linear-gradient(to left, yellow, green, blue, indigo, red, orange);
 -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
  z-index: -1;
}



/*========================================================== gradient-Border 1 ===============================================================*/

.border-1 {
  width: 150px;
  height: 150px;
  text-align:center;
  border-top: 5px solid;
  border-image:   linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
}


/*========================================================== gradient-Border 2 ===============================================================*/
. {
  width: 500px;
  height: 100px;
  background-color: #ccc;
  position: relative;
}

.test:before,
.test:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 10px;
  background-image: -webkit-linear-gradient(0deg, red 20px, blue 20px, blue 40px, yellow 40px, yellow 60px, green 60px, green 80px);
  background-image: -ms-linear-gradient(0deg, red 20px, blue 20px, blue 40px, yellow 40px, yellow 60px, green 60px, green 80px);
  background-size: 80px;
}

.test:before {
  top: 0px;
}

.test:after {
  bot




/*========================================================== Animation-Border 1 ===============================================================*/

.animation-border-1 {
  margin: 10px;
  --angle: 0deg;
  text-align: center;
  border: 10px solid;
  border-image: linear-gradient(var(--angle), Red, Red, Green, Green, Blue, Blue, Yellow, Yellow) 1;
  animation: 4s rotate linear infinite;
}
  
.animation-border-1::before {
  filter: blur(40ox);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}



.img img {
  text-align: center;
  height: 100px;
  width: 100px;
}


/*========================================================== Animation-Border 2 ===============================================================*/
  
.animation-border-2 {
  width: 600px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: cambria;
}

.animation-examples.one {
  color: #69D2E7;
  outline: 10px dashed #E0E4CC;
  box-shadow: 0 0 0 10px #69D2E7;
  animation: 1s animateBorderOne ease infinite;
}

@keyframes animateBorderOne {
  to {
    outline-color: #69D2E7;
    box-shadow: 0 0 0 10px #E0E4CC;
  }
}

.animation-examples.two {
  color: #FA2A00;
  outline: 10px dashed #F2D694;
  box-shadow: 0 0 0 10px #FA2A00;
  animation: 2s animateBorderTwo ease infinite;
}

@keyframes animateBorderTwo {
  to {
    outline-color: #FA2A00;
    box-shadow: 0 0 0 10px #F2D694;
  }
}

.animation-examples.three {
  color: #BEF202;
  background: linear-gradient(to bottom, #BEF202 50%, #1B676B 50%);
  background-size: auto 2px;
  outline: 10px dashed #BEF202;
  box-shadow: 0 0 0 10px #1B676B;
  animation: 1s animateBorderThree ease infinite;
}

@keyframes animateBorderThree {
  to {
    outline-color: #1B676B;
    box-shadow: 0 0 0 10px #BEF202;
  }
}

#animation-examples{
  margin: 20px 10px;
}


/*========================================================== Animation-Border 5 ===============================================================*/

.animation-border-5 {
	position: relative;
	margin: 300px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
}

.animation-border-5:before, .animation-border-5:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animation 20s linear infinite;
}

@keyframes animation {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.animation-border-5:after {
	filter: blur(50px);
}













  


