.content {
  padding: 10px 10px 10px 20px;
}
  
.content ol {
  counter-reset: section;
  list-style-type: bengali;
}
  
.content li::marker {
  color: red;
  font-size: 15px;
  font-weight: Bold;
  text-align: center;
  line-height: 40px;
}
  
.content li li::marker {
  color: green;
  font-size: 15px;
  font-weight: Bold;
  text-align: center;
  line-height: 40px;
}
  
.content li li li::marker {
  color: blue;
  font-size: 15px;
  font-weight: Bold;
  text-align: center;
  line-height: 40px;
}
  
.content li li li li::marker {
  color: gold;
  font-size: 15px;
  font-weight: Bold;
  text-align: center;
  line-height: 40px;
}
