* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  border: 2px solid green;
}

.background-container {
  background-color: tomato;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 400px;
  transition: background 5s ease-in-out;
  border: 2px solid red;
}
