/*=================================================== Background Color 1 ===================================================*/
#background-color-1 {
  background-image: linear-gradient(#ff8a00 50%, red 50%);
}


/*=================================================== Background Color 2 ===================================================*/
#background-color-2 {
  background-image: linear-gradient(green, rgb(0, 247, 255),  rgb(89, 89, 173));
}


/*=================================================== Background Color 3 ===================================================*/
#background-color-3 {
	background: linear-gradient(-45deg, blue -30%, transparent 80%),
              linear-gradient(45deg, darkred 20%, crimson, darkorange 60%, gold, bisque);
}


/*=================================================== Background Color 4 ===================================================*/
#background-color-4 {
  background: linear-gradient(red, yellow, blue, orange);
}


/*=================================================== Background Color 5 ===================================================*/
#background-color-5 {
  background: linear-gradient(to left, lime 28px, red 77%, cyan);
}


/*=================================================== Background Color 6 ===================================================*/
#background-color-6 {
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
}


/*=================================================== Background Color 7 ===================================================*/
#background-color-7 {
  background:
    linear-gradient(217deg, rgb(255 0 0 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), transparent 70.71%);
}


/*=================================================== Background Color 8 ===================================================*/
#background-color-8 {
  background-image: linear-gradient(red, yellow, blue);
}


//*=================================================== Background Color 9 ===================================================*/
#background-color-9 {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    ),
    linear-gradient(
      -45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    );
  background-size: 50px 50px;
  height: 100vh;
}
  
  
/*=================================================== Background Color 10 ===================================================*/
#background-color-10 {
  background: linear-gradient(135deg, #333 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #333 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #333 25%, transparent 25%),
    linear-gradient(45deg, #333 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #ff8a00;
  height: 100vh;
}

  
/*=================================================== Background Color 11 ===================================================*/
#background-color-11 {
  background-image: radial-gradient(#ff8a00 35%, transparent 35%);
  background-size: 8px 8px;
  border-radius: 16px;
  padding: 35px;
}
  
/*=================================================== Background Color 12 ===================================================*/
#background-color-12 {
  background: linear-gradient(45deg, darkred 20%, crimson, darkorange 60%, gold, bisque);
}


/*=================================================== Background Color 13 ===================================================*/
#background-color-13 {
	background: linear-gradient(red 0% 30%, blue 35% 45%, gold 50% 60%, green 65%);
}


/*=================================================== Background Color 14 ===================================================*/
#background-color-14 {
	 background: linear-gradient(217deg, rgb(255 0 0 / 0.8), transparent 70.71%),
              linear-gradient(127deg, rgb(0 255 0 / 0.8), transparent 70.71%),
              linear-gradient(336deg, rgb(0 0 255 / 0.8), transparent 70.71%);
}


/*=================================================== Background Color 15 ===================================================*/
#background-color-15 {
	background: linear-gradient(
    to right,
    red 20%,
    orange 20% 40%,
    magenta 40% 60%,
    green 60% 80%,
    blue 80%
  );
}


/*=================================================== Background Color 16 ===================================================*/
#background-color-16 {
	background: linear-gradient(90deg in hsl longer hue, red, blue);
}


/*=================================================== Background Color 17 ===================================================*/
#background-color-17 {
	 background: linear-gradient(90deg in hsl shorter hue, red, blue);
}


/*=================================================== Background Color 18 ===================================================*/
#background-color-18 {
	background-image: linear-gradient(to right, red, orange, blue, green);
}


/*=================================================== Background Color 19 ===================================================*/
#background-color-19 {
}
/*=================================================== Background Color 20 ===================================================*/
#background-color-20 {
}

 
  

  

 

  








/*=================================================== Background Color 21 ===================================================*/
#background-color-21 {
	background: radial-gradient(darkred 20%, crimson, darkorange 60%, gold, bisque);
}

  
/*=================================================== Background Color 22 ===================================================*/
#background-color-22 {
	background: radial-gradient(closest-side, darkorange 60%, gold, bisque, darkred 20%, crimson);
}

  
/*=================================================== Background Color 23 ===================================================*/
#background-color-23 {
  background: radial-gradient(red, blue);
}


/*=================================================== Background Color 24 ===================================================*/
#background-color-24 {
  background: radial-gradient(red 10px, yellow 30%, dodgerblue 50%);
}


/*=================================================== Background Color 25 ===================================================*/
#background-color-25 {
  background: radial-gradient(at 0% 30%, red 10px, yellow 30%, dodgerblue 50%);
}


/*=================================================== Background Color 26 ===================================================*/
#background-color-26 {
  background: radial-gradient(
    ellipse closest-side,
    red,
    yellow 10%,
    dodgerblue 50%,
    beige
  );
}


/*=================================================== Background Color 27 ===================================================*/
#background-color-27 {
  background: radial-gradient(
    ellipse farthest-corner at 90% 90%,
    red,
    yellow 10%,
    dodgerblue 50%,
    beige
  );
}


/*=================================================== Background Color 28 ===================================================*/
#background-color-28 {
  background: radial-gradient(
    ellipse 50% 50px,
    red,
    yellow 10%,
    dodgerblue 50%,
    beige
  );
}


/*=================================================== Background Color 29 ===================================================*/
#background-color-29 {
	background-image: radial-gradient(#ff8a00, #e52e71);
}

	
/*=================================================== Background Color 30 ===================================================*/
#background-color-30 {
  background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
}


/*=================================================== Background Color 31 ===================================================*/
#background-color-31 {
  background-image: radial-gradient(circle at top right, red, blue);
}


/*=================================================== Background Color 32 ===================================================*/
#background-color-32 {
  
}


/*=================================================== Background Color 33 ===================================================*/
#background-color-33 {
  
}


/*=================================================== Background Color 34 ===================================================*/
#background-color-34 {
  
}


/*=================================================== Background Color 35 ===================================================*/
#background-color-35 {
  
}


/*=================================================== Background Color 36 ===================================================*/
#background-color-36 {
  
}


/*=================================================== Background Color 37 ===================================================*/
#background-color-37 {
  
}


/*=================================================== Background Color 38 ===================================================*/
#background-color-38 {
  
}


/*=================================================== Background Color 39 ===================================================*/
#background-color-39 {
  
}


/*=================================================== Background Color 40 ===================================================*/
#background-color-40 {
  
}










  







	
/*=================================================== Background Color 61 ===================================================*/
#background-color-61 {
	background-image: conic-gradient(red, yellow, green);
}


/*=================================================== Background Color 62 ===================================================*/
#background-color-62 {
  background-image: conic-gradient(red, yellow, green, blue, black);
}


/*=================================================== Background Color 63 ===================================================*/
#background-color-63 {
  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}


/*=================================================== Background Color 64 ===================================================*/
#background-color-64 {
  background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
}


/*=================================================== Background Color 65 ===================================================*/
#background-color-65 {
  background-image: conic-gradient(from 90deg, red, yellow, green);
}

	
/*=================================================== Background Color 66 ===================================================*/
#background-color-66 {
  background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

	
/*=================================================== Background Color 67 ===================================================*/
#background-color-67 {
  background-image: conic-gradient(lime 33%, yellow 0 66%, red 0);
}

	
/*=================================================== Background Color 68 ===================================================*/
#background-color-68 {
  
}

	
/*=================================================== Background Color 69 ===================================================*/
#background-color-69 {
  
}

	
/*=================================================== Background Color 70 ===================================================*/
#background-color-70 {
  
}

	
/*=================================================== Background Color 71 ===================================================*/
#background-color-71 {
  
}

	
/*=================================================== Background Color 72 ===================================================*/
#background-color-72 {
  
}

	
/*=================================================== Background Color 73 ===================================================*/
#background-color-73 {
  
}

	
/*=================================================== Background Color 74 ===================================================*/
#background-color-74 {
  
}

	
/*=================================================== Background Color 75 ===================================================*/
#background-color-75 {
  
}

	
/*=================================================== Background Color 76 ===================================================*/
#background-color-76 {
  
}

	
/*=================================================== Background Color 77 ===================================================*/
#background-color-77 {
  
}

	
/*=================================================== Background Color 78 ===================================================*/
#background-color-78 {
  
}

	
/*=================================================== Background Color 79 ===================================================*/
#background-color-79 {
  
}

	
/*=================================================== Background Color 80 ===================================================*/
#background-color-80 {
  
}














	
/*=================================================== Background Color 81 ===================================================*/
#background-color-81 {
  background:
    repeating-linear-gradient(
      190deg,
      rgb(255 0 0 / 50%) 40px,
      rgb(255 153 0 / 50%) 80px,
      rgb(255 255 0 / 50%) 120px,
      rgb(0 255 0 / 50%) 160px,
      rgb(0 0 255 / 50%) 200px,
      rgb(75 0 130 / 50%) 240px,
      rgb(238 130 238 / 50%) 280px,
      rgb(255 0 0 / 50%) 300px
    ),
    repeating-linear-gradient(
      -190deg,
      rgb(255 0 0 / 50%) 30px,
      rgb(255 153 0 / 50%) 60px,
      rgb(255 255 0 / 50%) 90px,
      rgb(0 255 0 / 50%) 120px,
      rgb(0 0 255 / 50%) 150px,
      rgb(75 0 130 / 50%) 180px,
      rgb(238 130 238 / 50%) 210px,
      rgb(255 0 0 / 50%) 230px
    ),
    repeating-linear-gradient(
      23deg,
      red 50px,
      orange 100px,
      yellow 150px,
      green 200px,
      blue 250px,
      indigo 300px,
      violet 350px,
      red 370px
    );
}



/*=================================================== Background Color 82 ===================================================*/
#background-color-82 {
  background:
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50px,
      rgb(255 127 0 / 25%) 50px,
      rgb(255 127 0 / 25%) 56px,
      transparent 56px,
      transparent 63px,
      rgb(255 127 0 / 25%) 63px,
      rgb(255 127 0 / 25%) 69px,
      transparent 69px,
      transparent 116px,
      rgb(255 206 0 / 25%) 116px,
      rgb(255 206 0 / 25%) 166px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 50px,
      rgb(255 127 0 / 25%) 50px,
      rgb(255 127 0 / 25%) 56px,
      transparent 56px,
      transparent 63px,
      rgb(255 127 0 / 25%) 63px,
      rgb(255 127 0 / 25%) 69px,
      transparent 69px,
      transparent 116px,
      rgb(255 206 0 / 25%) 116px,
      rgb(255 206 0 / 25%) 166px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      rgb(143 77 63 / 25%) 5px,
      rgb(143 77 63 / 25%) 10px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 5px,
      rgb(143 77 63 / 25%) 5px,
      rgb(143 77 63 / 25%) 10px
    );

  background:
    repeating-linear-gradient(
      90deg,
      transparent 0 50px,
      rgb(255 127 0 / 25%) 50px 56px,
      transparent 56px 63px,
      rgb(255 127 0 / 25%) 63px 69px,
      transparent 69px 116px,
      rgb(255 206 0 / 25%) 116px 166px
    ),
    repeating-linear-gradient(
      0deg,
      transparent 0 50px,
      rgb(255 127 0 / 25%) 50px 56px,
      transparent 56px 63px,
      rgb(255 127 0 / 25%) 63px 69px,
      transparent 69px 116px,
      rgb(255 206 0 / 25%) 116px 166px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent 0 5px,
      rgb(143 77 63 / 25%) 5px 10px
    ),
    repeating-linear-gradient(
      45deg,
      transparent 0 5px,
      rgb(143 77 63 / 25%) 5px 10px
    );
}



/*=================================================== Background Color 83 ===================================================*/
#background-color-83 {
  background:
    repeating-conic-gradient(
      from 0deg at 80% 50%,
      #5691f580 0% 8.25%,
      #b338ff80 8.25% 16.5%,
      #f8305880 16.5% 25%
    ),
    repeating-conic-gradient(
      from 15deg at 50% 50%,
      #e856f580 0% 8.25%,
      #ff384c80 8.25% 16.5%,
      #e7f83080 16.5% 25%
    ),
    repeating-conic-gradient(
      from 0deg at 20% 50%,
      #f58356ff 0% 8.25%,
      #caff38ff 8.25% 16.5%,
      #30f88aff 16.5% 25%
    );
}



/*=================================================== Background Color 84 ===================================================*/
#background-color-84 {
	background-image: repeating-linear-gradient(45deg, orange, orange 10px, red 10px, red 20px);
}

	
/*=================================================== Background Color 85 ===================================================*/
#background-color-85 {
  background-image: repeating-radial-gradient(circle at 0 0, orange, orange 10px, red 10px, red 20px);
}

	
/*=================================================== Background Color 86 ===================================================*/
#background-color-86 {
  background-image: repeating-conic-gradient(red 10%, yellow 20%);
}

	
/*=================================================== Background Color 87 ===================================================*/
#background-color-87 {
  background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
}

	
/*=================================================== Background Color 88 ===================================================*/
#background-color-88 {
	background-image: repeating-radial-gradient(orange, purple 20px, orange 40px);
}


/*=================================================== Background Color 89 ===================================================*/
#background-color-89 {
  background-color: #eaeaea;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 191, 255, 0.5),
      rgba(0, 191, 255, 0.5) 1px,
      transparent 1px,
      transparent 15px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(255, 105, 180, 0.5),
      rgba(255, 105, 180, 0.5) 1px,
      transparent 1px,
      transparent 15px
    );
  height: 250px;
}






/*=================================================== Background Images 101 ===================================================*/
#background-color-101 {
  text-align: center;
  width: calc(1.85 * 90vh);
  height: 90vh;
  margin: auto;
  background: url(https://wallpapercave.com/download/avengers-infinity-war-hd-wallpapers-wp2302361?nocache=1),
    linear-gradient(45deg, black, gray);
  background-repeat: no-repeat;
  animation: 30s ease-out infinite alternate moving;
}


@keyframes moving {
  0% {
    background-size: 300%;
    background-position: 60% 80%;
  }
  50% {
    background-size: 100%;
    background-position: 0% 0%;
  }
  100% {
    background-position: 10% 40%;
    background-size: 200%;
  }
}



