/*=================================================== Background Color 1 ===================================================*/
#background-color-1 {
  

/*=================================================== Background Color 2 ===================================================*/
#background-color-1 {
/*=================================================== Background Color 3 ===================================================*/
#background-color-2 {
/*=================================================== Background Color 4 ===================================================*/
#background-color-3 {
/*=================================================== Background Color 5 ===================================================*/
/*=================================================== Background Color 6 ===================================================*/
/*=================================================== Background Color 7 ===================================================*/
/*=================================================== Background Color 8 ===================================================*/
/*=================================================== Background Color 9 ===================================================*/
/*=================================================== Background Color 10 ===================================================*/
/*=================================================== Background Color 11 ===================================================*/
/*=================================================== Background Color 12 ===================================================*/
/*=================================================== Background Color 13 ===================================================*/
/*=================================================== Background Color 14 ===================================================*/
/*=================================================== Background Color 15 ===================================================*/
/*=================================================== Background Color 16 ===================================================*/
/*=================================================== Background Color 17 ===================================================*/
/*=================================================== Background Color 18 ===================================================*/
/*=================================================== Background Color 19 ===================================================*/
/*=================================================== Background Color 20 ===================================================*/
/*=================================================== Background Color 21 ===================================================*/
/*=================================================== Background Color 22 ===================================================*/
/*=================================================== Background Color 23 ===================================================*/
/*=================================================== Background Color 24 ===================================================*/
/*=================================================== Background Color 25 ===================================================*/
/*=================================================== Background Color 26 ===================================================*/
/*=================================================== Background Color 27 ===================================================*/
/*=================================================== Background Color 28 ===================================================*/
/*=================================================== Background Color 29 ===================================================*/
/*=================================================== Background Color 30 ===================================================*/
#background-color-1 {

  
/*=================================================== Background Color 31 ===================================================*/
#background-color-31 {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    ),
    linear-gradient(
      -45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    );
  background-size: 50px 50px;
  height: 100vh;
}
  
  
/*=================================================== Background Color 32 ===================================================*/
#background-color-32 {
  background: linear-gradient(135deg, #333 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #333 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #333 25%, transparent 25%),
    linear-gradient(45deg, #333 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #ff8a00;
  height: 100vh;
}

  
/*=================================================== Background Color 33 ===================================================*/
/*=================================================== Background Color 34 ===================================================*/
/*=================================================== Background Color 35 ===================================================*/
/*=================================================== Background Color 36 ===================================================*/
/*=================================================== Background Color 37 ===================================================*/
/*=================================================== Background Color 38 ===================================================*/
/*=================================================== Background Color 39 ===================================================*/
/*=================================================== Background Color 40 ===================================================*/

























