.monthly-box table {
  width: 100%;
  border: 4px solid black;
}
  
.monthly-box th {
  background: #006699;
  color: White;
  text-align: center;
  border: 1px solid black;
}
  
.monthly-box td {
  text-align: center;
  border: 1px solid black;
}
  
.monthly-box .null {
  color: LightGray;
}
  
.monthly-box .holliday {
  background-color: red;
  color: white;
}
  
.monthly-box td a {
  color: white;
  display: block;
}

.monthly-box td:nth-child(7n+6) {
  background: red;
  color: Yellow;
}
  
.monthly-box td:nth-child(7n+7) {
  background: red;
  color: Yellow;
}
  
  
  
  
  
  
  

/*=================================== PopUp Table ===================================*/
/*#popup-table {
  counter-reset: serial-number;
}
  
#popup-table tr {
  counter-increment: row;
}
  
#popup-table td {
  color: black;
}

#popup-table td:first-child:before {
  background: Red;
  color: black;
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  border-radius: 50px;
  counter-increment: serial-number;
  content: counter(row, bengali) '. ';
}*/
  
#popup-table td {
  color: black;
}
  
#popup-table td:nth-child(3n+3) {
  color: red;
  padding-right: 20px;
  text-align: right;
}
  
#popup-table tr:last-child {
  background-color: yellow;
  color: red;
  padding-right: 20px;
  font-weight: bold;
  text-align: right;
}
  
  
  
  
  
/*=================================== PopUp Container ===================================*/
.popup-container {
  background-color: rgba(21, 17, 17, 0.61);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  z-index: 1;
}
  
.popup-link {
  display:flex;
  flex-wrap:wrap;
}

.popup-link a {
  background: yellow;
  color: green;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
  
/*=================================== PopUp Content ===================================*/
  
.popup-content {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 5px solid red;
  border-radius: 20px;
}

.popup-container h3 {
  background-color: blue;
  color: white;
  width: 685px;
  margin: 0px 0px 5px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px 0px 0px 0px;
}
  
.popup-content p {
  background-color: yellow;
  color: red;
  padding: 10px;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid;
  border-radius: 0px 0px 10px 10px;
}
  
.popup-content a.close {
  background-color: green;
  color: yellow;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  float: right;
  border-radius: 0px 10px 0px 0px;
}

.popup-content a.close:hover {
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
}
  
.popup-content span:hover,
.popup-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-container:target {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
  
  
/*=================================== PopUp Style ===================================*/
  
.popup-style-1 {
  transform: rotate(180deg);
}

.popup-style-1:target {
  transform: rotate(0deg);
}
  

  
  
  
/*=================================== Mobile Screen ===================================*/
  
@media only screen and (max-width: 600px) {
  .monthly-box {
    width:;
    height: 600px;
    overflow-y: auto;
  }
  
  table {
    border-collapse: collapse;
  }
  
  .popup-content {
    width: 80%;
  }
  
  .popup-container h3 {
    width: 240px;
  }
}
