.content {
  border: 2px solid red;
}

.content .box {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gold;
}

.content {
  width: calc(96% / 4);
  margin: .5%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  transform-origin: center center;
  box-sizing: border-box;
  border: 2px solid red;
}
