.content {
  height: 600px;
  overflow-y: scroll;
  border: 2px solid red;
}

.content .box {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gold;
}

.content .box .profile {
  width: calc(96% / 4);
  margin: .5%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  transform-origin: center center;
  box-sizing: border-box;
  border: 2px solid green;
}

.content .box .profile img {
  width: 290px;
  height: 290px;
  margin: 10px;
  padding: 5px 0px;
  display: block;
  border: 2px solid red;
}

.content .box .profile a {
  background-color: blue;
  color: white;
  margin: 0px 0px;
  text-align: center;
  display: block;
  text-deciration: none;
}





/*========= MOBILE SCREEN =========*/
@media only screen and (max-width: 600px) {
  .content .box .profile {
    width: calc(100% / 1);
  }

  .content .box .profile img {
    width: 330px;
    height: 330px;
    margin: auto;
    display: block;
    border: none;
  }
}
