/*=========================================================== Scrollbar 1 ===========================================================*/
#scrollbar {
  scrollbar-color: yellow green;
  scrollbar-width: auto; /*thin;*/
}


/*=========================================================== Scrollbar 2 ===========================================================*/
#scrollbar-1::-webkit-scrollbar {
  width: 10px;
}

#scrollbar-1::-webkit-scrollbar-track {
   background-color: green;
   border-radius: 10px;
  border: 2px solid white;
}

#scrollbar-1::-webkit-scrollbar-thumb {
  background-color: red;
  height: 100px;
   border-radius: 10px;
   border: 2px solid yellow;
}


/*=========================================================== Scrollbar 3 ===========================================================*/
#scrollbar-3::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
  border-radius: 10px;
}

#scrollbar-3::-webkit-scrollbar-thumb {
	background-color: blue;
  height: 100px;
  border-radius: 10px;
}


/*=========================================================== Scrollbar 4 ===========================================================*/
#scrollbar-4::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-4::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
}

#scrollbar-4::-webkit-scrollbar-thumb {
	background-color: red;
  height: 100px;
	background-image: -webkit-linear-gradient(45deg, green 25%, transparent 25%, transparent 50%, green 50%, green 75%, transparent 75%, transparent);
  border-radius: 10px;
}


/*=========================================================== Scrollbar 5 ===========================================================*/
#scrollbar-5::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-5::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
}

#scrollbar-5::-webkit-scrollbar-thumb {
	background-color: red;
    height: 100px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, Green), color-stop(.5, transparent), to(transparent));
    border-radius: 10px;
}



/*=========================================================== Scrollbar 6 ===========================================================*/
#scrollbar-3::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-6::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
	border-radius: 10px;
}

#scrollbar-6::-webkit-scrollbar-thumb {
	border-radius: 10px;
    height: 100px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.30, green), color-stop(0.60, orange), color-stop(0.86, red));
    border-radius: 10px;
}



/*=========================================================== Scrollbar 7 ===========================================================*/
#scrollbar-7::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-7::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
}

#scrollbar-7::-webkit-scrollbar-thumb {
	background-color: red;
    height: 100px;
	background-image: linear-gradient(red, yellow, green);
    border-radius: 10px;
}

/*=========================================================== Scrollbar 8 ===========================================================*/
#scrollbar-8::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-8::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
	border-radius: 10px;
}

#scrollbar-8::-webkit-scrollbar-thumb {
	background-color: blue;
	background-image: -webkit-linear-gradient(90deg, green 25%, transparent 25%, transparent 50%, red 50%, red 75%, transparent 75%, transparent);
    height: 100px;
	border-radius: 10px;
}



/*=========================================================== Scrollbar 9 ===========================================================*/
#scrollbar-9::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

#scrollbar-9::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: white;
}

#scrollbar-9::-webkit-scrollbar-thumb {
	background-color: blue;
	background-image: -webkit-linear-gradient(90deg, orange 0%, orange 25%, transparent 100%, orange 75%, transparent);
    height: 100px;
    border-radius: 10px;
}



/*=========================================================== Scrollbar 10 ===========================================================*/
#scrollbar-10::-webkit-scrollbar {
	background-color: white;
    height: 10px;
}

#scrollbar-10::-webkit-scrollbar-track {
    background-image: repeating-linear-gradient(45deg, red 0, red 2px, transparent 0, transparent 50%);
    background-size: 10px 10px;
    border-radius: 10px;
    border: 2px solid white;
}

#scrollbar-10::-webkit-scrollbar-thumb {
	background-color: blue;
	background-image: -webkit-linear-gradient(90deg, orange 0%, orange 25%, transparent 100%, orange 75%, transparent);
    height: 100px;
    border-radius: 10px;
}



/*=========================================================== Scrollbar 11 ===========================================================*/
#scrollbar-22 {
  scrollbar-width: 10px;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: blue transparent;
  }

  &:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    transition: background 0.3s;
    background-color: blue;
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }
}



/*=========================================================== Scrollbar 12 ===========================================================*/
@supports not selector(::-webkit-scrollbar) {
  #scrollbar-12 {
    scrollbar-width: auto;
    scrollbar-color: ;
  }
}
#scrollbar-12::-webkit-scrollbar {
    width: 15px;
}

#scrollbar-12::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
    border: 1px solid blue;
}
#scrollbar-12::-webkit-scrollbar-track {
    background-color: white;
}

#scrollbar-12::-webkit-scrollbar-button {
    background-color: red;
    background-repeat: no-repeat;   
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    border-radius: 10px;
 }

#scrollbar-12::-webkit-scrollbar-button:decrement {
    background-image: url("https://omjsblog.wordpress.com/wp-content/uploads/2024/05/rocket-up.png");
 }

#scrollbar-12::-webkit-scrollbar-button:increment {
    background-image: url("https://omjsblog.wordpress.com/wp-content/uploads/2024/05/rocket-down.png"); 
}



/*=========================================================== Scrollbar 13 ===========================================================*/

















