#scrollbar {
  scrollbar-color: yellow green;
  scrollbar-width: auto; /*thin;*/
}

#scrollbar-1::-webkit-scrollbar {
    width: 10px;
}

#scrollbar-1::-webkit-scrollbar-track {
    background-color: green;
    border-radius: 10px;
    border: 2px solid white;
}

#scrollbar-1::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
    border: 2px solid yellow;
}
