.content {
  width: 98.5%;
  height: 600px;
  margin: 5px;
}
  
.content .death-box {
  background: grey;
  width: 98%;
  height: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid red;
  border-radius: 20px;
}
  
.content .death-image {
  width: 250px;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
.content .death-image img {
  width: 100%;
  height:100%;
    
}
  
.content h1 {
  margin: 0px 10px;
  font-size: 20px;
}
     
.content .death-info {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.death-box {
  text-align: center;
}

#timer {
  background: black;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid yellow;
  border-radius: 0px 0px 20px 20px;
}

#timer div {
  min-width: 90px;
  display: inline-block;
}

#timer div span {
  color: yellow;
  font-size: 15px;
  font-weight: 400;
  display: block;
}









/* ==================== MOBILE SIZE ==================== */  
  
@media only screen and (max-width: 400px) {
  .content .death-box {
  background: green;
  width: 355px;
  height: 580px;
  }
  
  .content .death-info {
    color: white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
  }

  #timer {
    font-size: 30px;
  }
  
  #timer div span {
    font-size: 15px;
  }
}