.table-box table, th, td {
  border: 1px solid green;
}
  
.table-box table th {
  background-color: teal;
  color: white;
  text-align: center;
}
  
.radial {
  min-width: 350px;
  min-height: 350px;
  background: #fff;
  position: relative;
  .triggerButton {
    background-color: transparent;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 0%;
    text-decoration: none;
    ox-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    img {
      transition: all 0.2s ease-in-out;
      border-radius: 0%;
    }
  }
  .radialMenu {
    --width: 300px;
    width: var(--width);
    height: var(--width);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
  }
  .radialItem {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    a img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 50%;
      background-color: #232E50;
      box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
      text-decoration: none;
      transition: .25s;
      &:hover {
        transition-delay: 0s;
        background-color: darken(#232E50, 5);
        text-decoration: none;
      }
    }
  }
  &.active {
    .triggerButton {
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: rotateZ(360deg) translate(-1px, 1px);
        box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
      }
    }
    .radialItem {
      --angle: 0deg;
      --star-angle: 0deg;
      --point-size: 60px;
      --countItem: 8;
      
      /* we subtract the point size to place point inside circle */
      --radius: calc((var(--width) / 2) - (var(--point-size) / 2));
      --x: calc(var(--radius) * cos(var(--angle) + var(--star-angle)));
        --y: calc(var(--radius) * sin(var(--angle) + var(--star-angle)));

      /* position point at center of circle with radius. We add x and y values to move to edge of circle. */
      top: calc(var(--radius) + var(--y) + (var(--point-size) / 2));
      left: calc(var(--radius) + var(--x) + (var(--point-size) / 2));
      
      // Style
      width: var(--point-size);
      height: var(--point-size);
      &:nth-child(1) {
        --angle: calc((360deg / var(--countItem)) * 0);
        transition-delay: 0.05s;
      }
      &:nth-child(2) {
        --angle: calc((360deg / var(--countItem)) * 1);
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        --angle: calc((360deg / var(--countItem)) * 2);
        transition-delay: 0.15s;
      }
      &:nth-child(4) {
        --angle: calc((360deg / var(--countItem)) * 3);
        transition-delay: 0.20s;
      }
      &:nth-child(5) {
        --angle: calc((360deg / var(--countItem)) * 4);
        transition-delay: 0.25s;
      }
      &:nth-child(6) {
        --angle: calc((360deg / var(--countItem)) * 5);
        transition-delay: 0.30s;
      }
      &:nth-child(7) {
        --angle: calc((360deg / var(--countItem)) * 6);
        transition-delay: 0.35s;
      }
      &:nth-child(8) {
        --angle: calc((360deg / var(--countItem)) * 7);
        transition-delay: 0.40s;
      }
    }
  }
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
@media only screen and (max-width: 600px) {
  .table-box {
    width: 340px;
  }
  
  .table-box table {
    width: 100%;
  }
  
  .radial {
  min-width: 138px;
  min-height: 138px;
  background: #fff;
  position: relative;
  .triggerButton {
    background-color: transparent;
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 0%;
    text-decoration: none;
    ox-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    img {
      transition: all 0.2s ease-in-out;
      border-radius: 0%;
    }
  }
  .radialMenu {
    --width: 160px;
    width: var(--width);
    height: var(--width);
    position: absolute;
    top: 58%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
  }
  .radialItem {
    width: 30px;
    height: 30px;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    a img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      background-color: #232E50;
      box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
      text-decoration: none;
      transition: .25s;
      &:hover {
        transition-delay: 0s;
        background-color: darken(#232E50, 5);
        text-decoration: none;
      }
    }
  }
  &.active {
    .triggerButton {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: rotateZ(360deg) translate(-1px, 1px);
        box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
      }
    }
    .radialItem {
      --angle: 0deg;
      --star-angle: 0deg;
      --point-size: 60px;
      --countItem: 8;
      
      /* we subtract the point size to place point inside circle */
      --radius: calc((var(--width) / 2) - (var(--point-size) / 2));
      --x: calc(var(--radius) * cos(var(--angle) + var(--star-angle)));
        --y: calc(var(--radius) * sin(var(--angle) + var(--star-angle)));

      /* position point at center of circle with radius. We add x and y values to move to edge of circle. */
      top: calc(var(--radius) + var(--y) + (var(--point-size) / 2));
      left: calc(var(--radius) + var(--x) + (var(--point-size) / 2));
      
      // Style
      width: var(--point-size);
      height: var(--point-size);
      &:nth-child(1) {
        --angle: calc((360deg / var(--countItem)) * 0);
        transition-delay: 0.05s;
      }
      &:nth-child(2) {
        --angle: calc((360deg / var(--countItem)) * 1);
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        --angle: calc((360deg / var(--countItem)) * 2);
        transition-delay: 0.15s;
      }
      &:nth-child(4) {
        --angle: calc((360deg / var(--countItem)) * 3);
        transition-delay: 0.20s;
      }
      &:nth-child(5) {
        --angle: calc((360deg / var(--countItem)) * 4);
        transition-delay: 0.25s;
      }
      &:nth-child(6) {
        --angle: calc((360deg / var(--countItem)) * 5);
        transition-delay: 0.30s;
      }
      &:nth-child(7) {
        --angle: calc((360deg / var(--countItem)) * 6);
        transition-delay: 0.35s;
      }
      &:nth-child(8) {
        --angle: calc((360deg / var(--countItem)) * 7);
        transition-delay: 0.40s;
      }
    }
  }
}
  
}
