@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/english-custom-font.css');

.contact {
  padding: 10px;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: max-content;
  grid-gap: 15px; 
  justify-items: center;
}

.box {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gmail {
  background-color: green;
  background-image: url("https://images.pexels.com/photos/1407305/pexels-photo-1407305.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
}

.contact-text {
  background-color: transparent;
  color: yellow;
  width: 100%;
  margin-left: 10px;
  padding: 5px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: times;
  border: none;
  border-radius: 10px 0px 0px 10px;
  
}
  
button.copy-Btn {
  background-color: red;
  color: white;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: times;
  cursor: pointer;
  border-left: 2px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 10px 10px 0px;
}

button.copy-Btn:hover::after {
  color: #000;
}

button.copy-Btn:hover {
  transform: scale(1.05);
  cursor: pointer; 
  border-left: 4px solid yellow;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.contact-copyBtn:disabled {
  cursor: default;
}
