@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');


/* ============================================= Navbar ============================================= */

#navbar {
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
  border: 2px solid Yellow;
}

#navbar a {
  width: 10%;
  height: 50px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: red;
  color: white;
  font-size: px;
  font-weight: bold;
  letter-spacing: 1px;
}

#navbar a.active en {
  font-family: "times";
}







/*================================== Table Scroll Bar ==================================*/
  
.table-box::-webkit-scrollbar {
	width: 2px;
	height: 5px;
}
  
.table-box::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet);
	visibility: hidden;
	border-radius: 5px;
  }
  
.table-box::-webkit-scrollbar-thumb { 
	visibility: visible;
}




/* ============================================= Table Box ============================================= */
.table-box {
  background: ;
  width: 99%;
  height: 300px;
  margin: 10px;
  overflow: scroll;
  border: 9px;
  border-style: groove;
  border-left-color: Blue;
  border-top-color: Yellow;
  border-right-color: Green;
  border-bottom-color: Red;
}


/* ============================================= Sharch ============================================= */

.search-box {
  width: 100%;
  height: 50px;
  position: relative;
}

.search-box input {
  background: transparent;
  color: black;
  width: 100%;
  height: 100%;
  padding: 5px 0px 0px 10px;
  font-size: 18px;
  font-family: 'solaiman-lipi';
  font-weight: bold;
  position: sticky;
  top: 0px;
  outline: none;
  border: 2px solid red;
  border-radius: 10px 10px 0px 0px;
}

::placeholder {
  color: Yellow;
  padding-left: 2px;
  font-size: 15px;
  font-family: 'solaiman-lipi';
  font-style: itali;
}

.search-box label {
  background: linear-gradient(210deg, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094);
  -webkit-background-clip: text;
  background-size: 500%;
  color: transparent;
  padding: 20px;
  animation: colour-animate 30s linear infinite;
  top: 15px;
  left: 15px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-transform: capitalize;
  transition: top .3s;
  pointer-events: none;
}

.search-box input:focus ~ label,
.search-box input:valid ~ label {
  background: white;
  color: green;
  font-size: 15px;
  font-weight: bold;
  top:-9px;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.search-box input:focus,
.search-box input:valid {
  border: 2px solid green;
  animation-name: example;
  animation-duration: 4s linear infinite;
}

@keyframes colour-animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500% 0;
    }
}






/*============== Table ==============*/

#advance-table {
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
  counter-reset: serial-number;
}

#advance-table tbody tr {
  counter-increment: row;
}

.table-box table tr:nth-child(even) {
  background-color: #a7af7c;
}

.table-box table .company th {
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  position: sticky;
  top: 40px;
}

.table-box table th {
  background: teal;
  width: 200p;
  min-width: 200p;
  padding: 10px;
  font-size: 14px;
  position: sticky;
  top: 60px;
  border: 1px solid black;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table-box tr.red th {
  background: red;
  color: white;
}

.table-box tr.green th {
  background: green;
  color: white;
}

.table-box tr.purple th {
  background: purple;
  color: white;
}



.table-box tr.blue th {
  background: blue;
  color: white;
}



.table-box tr.teal th {
  background: teal;
  color: white;
}

.table-box table td {
  font-size: 15px;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid black;
}

#advance-table td:first-child:before {
	counter-increment: serial-number;
	content: counter(row, bengali) '. ';
}

#advance-table .unit {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#advance-table td en {
  color: red;
  font-size: 15px;
  font-family: "times";
  font-weight: bold;
}


/*========= Multiple th sticky =========*/
  
#advance-table th {
  padding: 0px;
  border: 1px solid;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
  
#advance-table tr.red th {
  background: red;
  color: white;
  padding: 10px 0px;
  font-size: 10px;
  font-weight: bold;
  text-align:center;
}
  
#advance-table tr.green th {
  background: green;
  color: white;
  padding: 10px 0px;
  font-size: 10px;
  font-weight: bold;
  text-align:center;
}
  
#advance-table tr.purple th {
  background: purple;
  color: white;
  padding: 10px 0px;
  font-size: 10px;
  font-weight: bold;
  text-align:center;
}
  
#advance-table tr.blue th {
  background: blue;
  color: white;
  padding: 10px 0px;
  font-size: 10px;
  font-weight: bold;
  text-align:center;
}

/*========= tr th td image =========*/
  
.tr-img {
  background-image: url('https://github.com/masumbillah6778/images/raw/main/bg3.jpg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
  
.th-img {
  background-image: url('https://github.com/masumbillah6778/images/raw/main/bg3.jpg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
  
.td-img {
  background-image: url('https://github.com/masumbillah6778/images/raw/main/bg3.jpg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
  
  
  
  
  

/*========= active row =========*/

#active-row {
  background-image: url('img_girl.jpg');
  background-color: red;
  background-size: cover;
}
  
  

/*========= Multiple color Column =========*/
  
.column-color td:nth-child(7n+1) {
  background: Cyan;
  color: Red;
}
  
.column-color td:nth-child(7n+2) {
  background: Yellow;
  color: Red;
}
  
.column-color td:nth-child(7n+3) {
  background: Pink;
  color: Red;
}
  
.column-color td:nth-child(7n+4) {
  background: Lime;
  color: Red;
}
  
.column-color td:nth-child(7n+5) {
  background: Blue;
  color: Red;
}

.column-color td:nth-child(7n+6) {
  background: Orange;
  color: Red;
}
  
.column-color td:nth-child(7n+7) {
  background: Orange;
  color: Red;
}
  
  
  

/*========= Color Mark td =========*/
  
.dot {
  position: relative;
  width: 65px;
  margin: 0 auto;
  font-size: 16px;
  text-align: right;
}

.dot::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -4px;
  top: 50%;
  right: -16px;
  display: block;
  position: absolute;
  border-radius: 50%;
}
  
.red::after {
  background: Red;
  z-index: -1;
}

.green::after {
  background: green;
  z-index: -1;
}

.blue::after {
  background: blue;
  z-index: -1;
}

.yellow::after {
  background: yellow;
  z-index: -1;
}


/* ============================================= MOBILE VIEW ============================================= */
@media only screen and (min-width: 300px) and (max-width: 576px) {

  /* ============================================= Navbar ============================================= */

  #navbar {
    width: 100%;
    background-color: black;
    border: 2px solid Yellow;
  }

  #navbar a {
    color: #f2f2f2;
    width: 25%;
    height: 50px;
    padding: 12px 5px;
    font-size: 10px;
  }

  /* ============================================= Sharch ============================================= */

  #myInput {
    background: gree;
    color: Whit;
    width: 75%;
    height: 50px;
    margin: 00 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border:  px solid Yellow;
    border-radius: 0px;
  }
  
  ::placeholder {
  color: pink;
  padding-left: 2px;
  font-size: 15px;
  font-style: itali;
}
  
  /* ============================================= Table ============================================= */
  
  .table-box {
    width: 97.5%;
    height: 500px;
  }
  
  #advance-table thead th {
    width: 100px;
    min-width: 100px;
    font-size: 7px;
  }

  #advance-table th.sticky-1 {
    background-color: yello;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  #advance-table th.sticky-2 {
    background-color: yello;
    position: sticky;
    left: 100px;
    z-index: 1;
  }

  #advance-table thead th {
    background-color: teal;
    width: 100px;
    min-width: 100px;
    font-size: 10px;
    border: 2px solid red;
    z-index: 1;
  }
  
  #advance-table thead th:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  
  #advance-table tbody td {
    font-size: 10px;
    font-weight: bold;
    border: 2px solid green;
  }

  #advance-table tbody td:nth-child(2) {
    background-color: yellow;
    color: red;
    font-size: 10px;
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: ;
  }
  
  #advance-table tbody td {
    font-size: 7px;
    font-weight: bold;
  }
  
  #advance-table tbody td:nth-child(2) {
    background-color: yellow;
    color: red;
    font-size: 10px;
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: ;
  }

  #advance-table td.sticky-1 {
    background-color: yellow;
    position: sticky;
    left: 0;
  }

  #advance-table td.sticky-2 {
    background-color: yellow;
    position: sticky;
    left: 100px;
  }

}
