.content {
  padding: 10px;
  font-size: 20px;
}
  
.content .medicin-box {
  padding: 10px;
  border: 2px solid blue;
}
  
#text {
  color: red;
}
  
.content .medicin-box {
  font-weight: bold;
  
}
  
.content .medicin-box a {
  --angle: to bottom;
  --border-top-width: 0;
  --border-right-width: 0;
  --border-bottom-width: 0;
  --border-left-width: 0.15em;
  --border-bottom-width: 5px;
  --border-left-width: 0;
  --angle: to left;
  color: blue;
  border-width: 0;
  border-style: solid;
  border-top-width: var(--border-top-width);
  border-right-width: var(--border-right-width);
  border-bottom-width: var(--border-bottom-width);
  border-left-width: var(--border-left-width);
  border-image: linear-gradient(var(--angle), red, green, gold, blue) 1;
  border-radius: 50px;
}
  
.content .medicin-box a:after {
  border-radius: 20px;
}

/*.content .medicin-box a:visited {
    color: green;
}*/


.content .medicin-box a:hover {
    color: hotpink;
}


.content .medicin-box a:active {
    color: green;
}


.content .medicin-box .details {
  line-height: 30px;
}

.content .medicin-box lh {
  background-color: yellow;
  color: red;
  padding: 5px 10px;
}
  
.content .medicin-box sup {
  color: red;
  font-size: 10px;
}
  
.content .medicin-box span {
  color: Fuchsia;
  padding-top: 20px;
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline wavy blue 2px;
}
  
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: px dotted black;
  cursor: pointer;
}

.tooltip img {
  width: 50px;
  height: auto;
  margin-right: 20px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
.tooltip .tooltiptextright {
  color: Yellow;
  visibility: hidden;
  width: 100px;
  height: auto;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 80%;
}

.tooltip .tooltiptextright img {
  background-color: pink;
  width: 100%;
  transition: 0.5s all ease-in-out;
}
     
.tooltip .tooltiptextright:hover img {
  background-color: gray;
  border: 1px solid Black;
  transform: scale(1.5);
  z-index: 3;
}
  
.tooltip .tooltiptextright::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent Red transparent transparent;
}
  
.tooltip:hover .tooltiptextright {
  visibility: visible;
}
  
