@import url('https://fonts.maateen.me/bangla/font.css');

@font-face {
    font-family: 'Bangla';
    src: url('https://fonts.maateen.me/bangla/font.css');
}

.content {
  width: ;
  height: ;
  padding: 10px;
  font-family: 'bangla', times;
}
  
.container-fluid {
  width: 100%;
  height: 50px;
  position: relative;
}

.container-fluid input {
  background: transparent;
  color: black;
  width: 100%;
  height: 100%;
  padding: 5px 0px 0px 10px;
  font-size: 18px;
  font-family: 'bangla';
  font-weight: bold;
  outline: none;
  border: 2px solid red;
  border-radius: 10px 10px 0px 0px;
}



.container-fluid label {
  background: linear-gradient(210deg, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094, #ffff00, #00ff00, #0000ff, #fb0094);
  -webkit-background-clip: text;
  background-size: 500%;
  color: transparent;
  padding: 20px;
  animation: colour-animate 30s linear infinite;
  top: 15px;
  left: 15px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-transform: capitalize;
  transition: top .3s;
  pointer-events: none;
}

.container-fluid input:focus ~ label,
.container-fluid input:focus ~ label {
  background: white;
  color: green;
  font-size: 15px;
  font-weight: bold;
  top:-9px;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.container-fluid input:focus,
.container-fluid input:valid {
  border: 2px solid green;
  animation-name: example;
  animation-duration: 4s linear infinite;
}

@keyframes colour-animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500% 0;
    }
}
  
.content h3 {
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
  
.box {
  margin: -40px 0px 10px 0px;
  justify-content: center;
  display: flex;
  gap: 10px;
}
  
.content .green {
  background-color: green;
  width: 20px;
  height: 20px;
}
  
.content .red {
  background-color: red;
  width: 20px;
  height: 20px;
}
  
.content .gold {
  background-color: gold;
  width: 20px;
  height: 20px;
}
  
.content .blue {
  background-color: blue;
  width: 20px;
  height: 20px;
}
  
  
  
  
  
  
  
mark.a0 {
  background: yellow;
  color: white;
  padding: 5px;
}
  
mark.a1 {
  background: green;
  color: white;
  padding: 5px;
}
  
mark.a2 {
  background: red;
  color: white;
  padding: 5px;
}
  
mark.a3 {
  background: gold;
  color: red;
  padding: 5px;
}
  
mark.a4 {
  background: blue;
  color: white;
  padding: 5px;
}

.select {
  font-size: 20px;
}








