
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*

:root {



  --eerie-black_a95: hsla(204, 9%, 11%, 0.95);
  --eerie-black_a50: hsla(204, 9%, 11%, 0.5);
  --eerie-black: hsl(204, 9%, 11%);
  --gainsboro: hsl(225, 7%, 89%);
  --charcoal: hsl(203, 9%, 28%);
  --silver-sand: hsl(208, 12%, 78%);
  --light-sky-blue: hsl(200, 100%, 73%);
  --prussian-blue: hsl(196, 100%, 14%);
  --black: hsl(0, 0%, 0%);
  --black_a50: hsla(0, 0%, 0%, 0.5);
  --black_a20: hsla(0, 0%, 0%, 0.2);
  --light-sky-blue_a8: hsla(200, 100%, 73%, 0.08);
  --light-sky-blue_a12: hsla(200, 100%, 73%, 0.12);
  --silver-sand_a8: hsla(208, 12%, 78%, 0.08);
  --silver-sand_a12: hsla(208, 12%, 78%, 0.12);
  
  --background: var(--eerie-black);
  --background-opacity: var(--eerie-black_a95);
  --on-background: var(--gainsboro);
  --surface-variant: var(--charcoal);
  --on-surface-variant: var(--silver-sand);
  --on-surface-variant-hover: var(--light-sky-blue_a8);
  --on-surface-variant-focus: var(--light-sky-blue_a12);
  --primary: var(--light-sky-blue);
  --on-primary: var(--prussian-blue);



  --gradient: linear-gradient(180deg, hsla(204, 9%, 11%, 0.90) 60%, transparent 120%);



  --ff-inter: 'Inter', sans-serif;

  --headline-sm: 2.4rem;
  --title-lg: 2.2rem;
  --label-lg: 1.4rem;
  --label-md: 1.2rem;
  
  --fw-400: 400;
  --fw-500: 500;



  --shadow-1: 0 1px 4px 1px var(--black_a20);
  --shadow-2: 0 1px 4px 1px var(--black_a50);



  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-pill: 100px;
  --radius-circle: 50%;



  --transition-1: 200ms cubic-bezier(0.2, 0, 0, 1);
  --transition-2: 300ms cubic-bezier(0.2, 0, 0, 1);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button { display: block; }

a {
  text-decoration: none;
  color: inherit;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

html {
  font-family: var(--ff-inter);
  font-size: 10px;
  scroll-behavior: smooth;
}

/*body {
  background-color: var(--black);
  color: var(--on-background);
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 250px;
  background-image: url("../images/poster-1.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: top;
  overflow: overlay;
}

body.modalActive { overflow: hidden; }

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--radius-pill);
}

body:hover::-webkit-scrollbar-thumb { background-color: var(--surface-variant); }*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*======================================= TOP BAR =======================================*/

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  width: 100%;
  height: 64px;
  padding-inline: 16px;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  z-index: 2;
}

.logo {
  gap: 12px;
}

.logo.wrapper .material-symbols-rounded {
  background-color: red;
  color: yellow;
  width: 50px;
  height: 50px;
  padding: 3px;
  font-size: 40px;
  border: 1px solid ;
  border-radius: 50px;
}

.player-title {
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times';
}

/*======================================= MUSIC CONTAINE =======================================*/

.player .player-container {
  background-color: pink;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 24px;
}

.player .player-container#background-color-83 {
  border-radius: 20px;
}


/*======================================= PLAYER =======================================*/

.player {
  background-image: var(--gradient);
  background-color: blueviolet;
  --padding: 24px;
  padding: var(--padding);
  padding-block-start: calc(40px + var(--padding));
  width: 100%;
  min-height: 100vh;
  display: flex;
  text-align: center;
  backdrop-filter: blur(30px);
  overflow: hidden;
}

.player .container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 24px;
}

.music-banner {
  background-color: olive;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  margin-inline: auto;
  align-self: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.music-banner img {
  aspect-ratio: 16 / 5;
}





/*======================================= MUSIC DITLIS =======================================*/

.music-headline {
  background-color: black;
  color: yellow;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'solaimanlipi;
}

.label-lg {
  font-weight: bold;
  font-family: 'solaimanlipi;
  letter-spacing: 0.1px;
}

.label-lg.label-wrapper {
  margin: 5px 0px;
  justify-content: center;
  opacity: 0.6;
}

.label-lg.label-wrapper span {
  background-color: black;
  padding: 5px:
}

.label-wrapper span:first-child::after {
  content: "|";
  color: white;
  display: inline-block;
  margin-inline: 10px;
}

.label-wrapper span:nth-child(1) {
  color: orange;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px 0px 0px 5px;
}

.label-wrapper span:nth-child(2) {
  color: teal;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.label-md.artist{
  background-color: black;
  color: red;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'solaimanlipi;
  letter-spacing: 0.5px;
  opacity: 0.6;
  margin-block-end: 10px;
}



.headline-sm {
  font-size: 30px;
  font-weight: bold;
}





/*======================================= SLIDE & VOLUME RENGE =======================================*/
.seek-control { margin-block-end: 20px; }

.range-wrapper { position: relative; }

.range {
  appearance: none;
  cursor: pointer;
}

.range::-webkit-slider-runnable-track {
  appearance: none;
  background-color: ;
  height: 6px;
  width: 100%;
  border-radius: ;
}

.range-fill {
  content: "";
  background-color: blue;
  width: 0;
  height: 6px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 20px;
  pointer-events: none;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.range::-webkit-slider-runnable-track {
  background-color: orange;
  width: 100%;
  height: 6px;
  appearance: none;
  border-radius: 20px;
}

.range::-webkit-slider-thumb {
  background-color: red;
  width: 16px;
  height: 16px;
  margin-block-start: -5px;
  appearance: none;
  border-radius: 20px;
  transition: 200ms cubic-bezier(0.2, 0, 0, 1);
  z-index: ;
}

.range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 12px green;
}

.range::-webkit-slider-thumb:is(:focus, :focus-visible) {
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.volume {
  display: none;
}




/*======================================= TIMES =======================================*/
 .duration-label.wrapper {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: times;
  justify-content: space-between;
  margin-block-start: 12px;
}
 
span.label-md[data-running-time] {
  background-color: ;
  color: red;
  padding: 5px;
  border: 2px solid;
  border-radius: 0 10px;
}
  
span.label-md[data-duration] {
  background-color: lue;
  color: green;
  padding: 5px;
  border: 2px solid;
  border-radius: 0 10px;
}
  



/*======================================= PLAUER CONTROL BUTTON =======================================*/
 
input {
  background: none;
  width: 100%;
  border: none;
  font: inherit;
}

button {
  background: none;
  border: ;
  font: inherit;
  cursor: pointer;
}

.btn-icon {
  background-color: blue;
  color: white;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 20px;
}

.btn-icon:hover {
  background-color: magenta;
}

.btn-icon:is(:focus, :focus-visible) {
  background-color: var(--on-surface-variant-focus);
}

.material-symbols-rounded {
  background-color: red;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 24;
  width: 1em;
  height: 1em;
  padding: px;
  overflow: hidden;
  user-select: none;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player-control {
  justify-content: space-evenly;
}

.player-control .toggle.active {
  color: yellow;
}

.player-control .play {
  background-color: gold;
  color: yellow;
}

.player-control .play.active {
  background-color: green;
  color: white;
}

.player-control .btn-icon.active .default-icon,
.player-control .btn-icon .active-icon {
  background-color: tomato;
  color: cyan;
  display: none;
  border: px solid blue;
}

.player-control .btn-icon .default-icon,
.player-control .btn-icon.active .active-icon {
  display: block;
}



/*======================================= PLAYLIST =======================================*/

.playlist {
  background-color: blue;
  width: 180px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -180px;
  padding: 20px;
  border-radius: 30px 0px 0px 30px;
  overflow-y: overlay;
  visibility: hidden;
  transition: 300ms cubic-bezier(0.2, 0, 0, 1);
  z-index: 4;
  box-shadow: 2px 2px 5px green, -2px -2px 5px red;
}

.playlist ul .music-list {
  padding: 10px 0px;
}

.playlist li {
  list-style: none;
}

.playlist li img {
  display: block;
  height: auto;
  border-radius: 10px 0px;
}

.playlist.active {
  transform: translateX(-180px);
  visibility: visible;
}

.music-list {
  display: grid;
  gap: 20px;
}

.music-item {
  background-color: transparent;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.music-item .item-icon {
  background-color: ;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
}

.music-item.playing .item-icon { opacity: 1; }

.music-item .item-icon .material-symbols-rounded {
  background-color: yellow;
  color: red;
  font-size: 30px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.music-item:is(:hover, :focus-visible, :active, .playing) {
  outline: 4px solid gold;
}

.overlay {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 300ms cubic-bezier(0.2, 0, 0, 1);
  z-index: 3;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.5;
}



























/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/*======================================= LARGE THAN 1200px SCREEN =======================================*/

@media (min-width: 1200px) {

  /**
   * PLAYLIST
   */

  .playlist {
    padding: 32px;
    width: 220px;
  }

  .music-list { gap: 28px; }

}




/*======================================= LARGE THAN 992PX =======================================*/

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --headline-sm: 4.2rem;
    --label-lg: 2.2rem;

  }



  /**
   * RESET
   */

  body {
    background-size: 40% 100%;
    background-position: left center;
  }

  article { display: flex; }



  /**
   * REUSED STYLE
   */

  .btn-icon {
    width: 54px;
    height: 54px;
  }

  .btn-icon .material-symbols-rounded { font-size: 2.8rem; }



/*======================================= TOP BAR =======================================*/

  .top-bar-actions {
    display: none; }



/*======================================= PLAYER =======================================*/

  .player {
    padding: 48px;
    text-align: left;
    flex-grow: 1;
    align-items: center;
    backdrop-filter: blur(100px);
  }

  .player .container {
    max-width: 1200px;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    gap: 48px;
    max-height: 500px;
    height: 100%;
  }

  .music-banner {
    aspect-ratio: unset;
    max-width: max-content;
    width: 100%;
    height: 100%;
  }

  .music-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 100%;
  }

  .music-content :is(.headline-sm, .label-lg, .label-md) {
    max-width: 100%;
  }

  .label-wrapper {
    justify-content: flex-start;
    margin-block-end: 8px;
  }

  .artist {
    --label-md: 1.8rem;
  }

  .seek-control {
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    gap: 24px;
  }

  .volume {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-block-start: -30px;
  }

  .volume .btn-icon { flex-shrink: 0; }

  .volume .range-fill { width: 100%; }

  .player-control {
    margin-inline-end: 174px;
    min-width: max-content;
    gap: 8px;
  }



/*======================================= PLAYLIST =======================================*/

  .overlay { display: none; }

  .playlist {
    position: static;
    visibility: visible;
    border-radius: 0;
    box-shadow: none;
    flex-shrink: 0;
  }

  .playlist.active { transform: unset; }

  .music-item:is(:hover, :focus-visible, :active, .playing) {
    outline: 2px solid;
  }

  .music-item .item-icon .material-symbols-rounded {
    font-size: 3.6rem;
  }

}



















/*======================================= LARGH THIN 575px =======================================*/

@media (min-width: 575px) {

  /**
   * RESET
   */

  body { background-size: 100%; }



  /**
   * PLAYER
   */

  .player { justify-content: center; }

  .player .container { max-width: 540px; }

}
