.audio-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
    
.audio-wrap audio {
    background-color: red;
    width: 100%;
    border: 2px solid black;
}

.audio-wrap audio::-webkit-media-controls-panel {
    background: red; /*transparent*/
    border-radius: 2px;
}
      
.audio-wrap audio::-webkit-media-controls-play-button {
    background-color: Yellow;
    border-radius: 50%;
}
      
.audio-wrap  audio::-webkit-media-controls-play-button:hover {
    background-color: cyan;
}
      
.audio-wrap audio::-webkit-media-controls-current-time-display {
    color: White;
    font-size: 15px;
    font-family: times;
    font-weight: bold;
}
      
 .audio-wrap audio::-webkit-media-controls-time-remaining-display {
    color: Yellow;
    font-size: 15px;
    font-family: times;
    font-weight: bold;
}
      
.audio-wrap audio::-webkit-media-controls-timeline {
    background-color: Blue;
    margin: 10px;
    border-radius: ;
}

.audio-wrap audio::-webkit-media-controls-volume-slider  {
    background-color: green;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.audio-wrap audio::-webkit-media-controls-mute-button {
    background-color: Yellow;
    border-radius: 50%;
}
