.audio-wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
  
.audio-wrap audio {
  background-color: red;
  width: 100%;
}

.audio-wrap audio::-webkit-media-controls-panel {
  background: red; /*transparent*/
  border-radius: 2px;
}
    
.audio-wrap audio::-webkit-media-controls-play-button {
  background-color: Yellow;
  border-radius: 50%;
.}
    
.audio-wrap  audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177,212,224, .7);
}
    
.audio-wrap audio::-webkit-media-controls-current-time-display {
  color: White;
  font-size: 15px;
  font-family: times;
  font-weight: bold;
  }
    
.audio-wrap audio::-webkit-media-controls-time-remaining-display {
  color: Yellow;
  font-size: 15px;
  font-family: times;
  font-weight: bold;
  }
    
.audio-wrap audio::-webkit-media-controls-timeline {
  background-color: Blue;
  margin: 10px;
  border-radius: ;
  }
    
    
    
    
    
    
    
    
    
.audio-wrap audio::-webkit-media-controls-volume-slider  {
  background-color: Cyan;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
    
.audio-wrap audio::-webkit-media-controls-mute-button {
  background-color: Yellow;
  border-radius: 50%;
  }
  
.audio-wrap input[type="range"]::-webkit-slider-thumb {
  background: red;
}

.audio-wrap audio input[type=range]::-webkit-slider-runnable-track {
  background: black;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: pink;
}

audio::-webkit-media-controls-panel {
  background-color: pink;
}
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button
