.D-overlay {
  display:none;
  transition: all .2s ease;
}
  
.D-overlay__content {
  background: lightgray;
  width: 80%;
  max-width: 500px;
  margin-top: 50px;
  padding: 20px;
  top: 50%;
  left: 50%;
  display: flex;
  position: relative;
  flex-direction: column;
  line-height: 30px;
  transform: translate(-50% , -12%) scale(0.97);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 
  
.d-from {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
  flex-direction: column;
  margin: 12px 0 35px;
  text-align: center;
  justify-self: center;
}
  
.Box-Header {
  color: green;
  text-align: center;
  padding: 0 0 9px;
  border-bottom: 3px solid blue;
  margin: 0 0 23px;
  font-size: 20px;
  font-weight: 900;
}
  
.adshtml {
  overflow: hidden;
  display: block;
  position: relative;
  height: 250px;
  margin-right: 10px;
  margin-left: 10px;
  border:3px dashed ;
}
  
.box-content {
  align-items: center;
  justify-self: center;
  position: relative;
  display: flex;
  text-align: center;
  vertical-align: middle; 
  justify-content: center;
}
  
.box__close {
  position: absolute;
  top: 10px;
  right: 30px;
  color: red!important;
  font-size: 33px;cursor:pointer;
  text-decoration: none!important;
}
  
.Download_btn {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid red;
  border-radius: 10px;
}
  
.classname:active {
  position: relative;
  top: 1px;
}
  
.css-input {
  background: blue;
  color: yellow;
  height: 13px;
  padding: 0.85em 1em;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 0px;
}
  
.css-input:focus {
  outline:none;
}
  
.css-input::placeholder {
  color: red;
  font-weight: 1px;
  opacity: 0.1;
}
  
.error-text {
  background: red;
  color: white;
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid blue;
  display: none;
  text-align: center;
}
  
#at-download span {
  text-align: center;
  margin: 20px 0;
  width: 100%;
}
  
#at-download {
  background-color: blue;
  color: red;
  width: 100%;
  height: 37px;
  margin-top:35px;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 8px; 
  text-transform: capitalize;
  border: 1px solid #212121;
  text-decoration:none;
}
  

  
@media only screen and (max-width: 480px){
  .D-overlay__content {
    width: 100%;
  }
}
