/*================================================== Text Animation 1 ==================================================*/

@import url('https://fonts.googleapis.com/css?family=Nosifer');

#text-animation-1 {
  /*font-family: 'Nosifer';*/
  font-size: 80px;
  text-align: center;
  transition: text-shadow 2s;
  color: red;
  text-shadow: 
  1px -1px 0 red, 
  -1px 2px 1px orange, 
  -2px 4px 1px yellow,
  -3px 6px 1px green, 
  -4px 8px 1px blue, 
  -5px 10px 1px indigo; 
  animation: colorChange 3s linear infinite;
}



@keyframes colorChange {
  0% {  
    color: red;
    text-shadow: 
    2px -2px 0 red, 
    -2px 2px 2px orange, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px blue, 
    -10px 20px 2px indigo; 
  }

  18% {  
    color: indigo;
    text-shadow: 
    2px -2px 0 indigo, 
    -2px 2px 2px red, 
    -4px 4px 2px orange,
    -6px 6px 2px yellow, 
    -8px 8px 2px green, 
    -10px 20px 2px blue; 
  }

  36% {  
    color: blue;
    text-shadow: 
    2px -2px 0 blue, 
    -2px 2px 2px indigo, 
    -4px 4px 2px red,
    -6px 6px 2px orange, 
    -8px 8px 2px yellow, 
    -10px 20px 2px green; 
  }

  54% {  
    color: green;
    text-shadow: 
    2px -2px 0 green, 
    -2px 2px 2px blue, 
    -4px 4px 2px indigo,
    -6px 6px 2px red, 
    -8px 8px 2px orange, 
    -10px 20px 2px yellow;  
  }
  
  72% {  
    color: yellow;
    text-shadow: 
    2px -2px 0 yellow, 
    -2px 2px 2px green, 
    -4px 4px 2px blue,
    -6px 6px 2px indigo, 
    -8px 8px 2px red, 
    -10px 20px 2px orange;  
  }

  90% {  
    color: orange;
    text-shadow: 
    2px -2px 0 orange, 
    -2px 2px 2px yellow, 
    -4px 4px 2px green,
    -6px 6px 2px blue, 
    -8px 8px 2px indigo, 
    -10px 20px 2px red;    
  }
  
  100% {  
    color: red;
    text-shadow: 
    2px -2px 0 red, 
    -2px 2px 2px orange, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px blue, 
    -10px 20px 2px indigo; 
  }
}




/*================================================== Text Animation 2 ==================================================*/
#text-animation-2 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(to right, #fdde5c, #f8ab5e, #f56a62, #a176c8, #759beb, #65beb3, #70db96);
  color: transparent;
  background-size: 500%;
  animation: slider 4s linear infinite alternate;
  background-clip: text;
}
  


@keyframes slider {
  100% {
    background-position: 100%
  }
}



/*================================================== Text Animation 3 ==================================================*/
#text-animation-3 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(to right, #fdde5c, #f8ab5e, #f56a62, #a176c8, #759beb, #65beb3, #70db96);
  background-clip: text;
  animation: fade 4s linear infinite;
}
 


  
@keyframes fade {
  15%, 85% {
    color: rgba(245,245,245,1);
  }
  
  25%,75% {
    color: rgba(0,0,0,0);
  }
}




  
/*================================================== Text Animation 4 ==================================================*/
#text-animation-4 {
  color: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: ;
  text-align: center;
  display: block;
	-webkit-text-fill-color: #fff;
	-webkit-background-clip: text;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FF0000;
	-webkit-animation: animated 2s infinite alternate;
}

@keyframes animated {
	0% {-webkit-text-stroke-color: #FFA53A}
	10% {-webkit-text-stroke-color: #FFE53A}
	20% {-webkit-text-stroke-color: #E8FF3A}
	30% {-webkit-text-stroke-color: #A5FF3A}
	40% {-webkit-text-stroke-color: #3AFF4E}
	50% {-webkit-text-stroke-color: #3AFFAE}
	60% {-webkit-text-stroke-color: #3AF3FF}
	70% {-webkit-text-stroke-color: #3AA2FF}
	80% {-webkit-text-stroke-color: #4B3AFF}
	90% {-webkit-text-stroke-color: #B43AFF}
	100% {-webkit-text-stroke-color: #FF3AEE}
}





/*================================================== Text Animation 5 ==================================================*/
/*================================================== Text Animation 6 ==================================================*/
/*================================================== Text Animation 7 ==================================================*/
/*================================================== Text Animation 9 ==================================================*/
/*================================================== Text Animation 9 ==================================================*/
/*================================================== Text Animation 10 ==================================================*/








