@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');

.animation-border {
  margin: 10px;
  --angle: 0deg;
  text-align: center;
  border: 10px solid;
  border-image: linear-gradient(var(--angle), Red, Red, Green, Green, Blue, Blue, Yellow, Yellow) 1;
  animation: 4s rotate linear infinite;
}
  
.animation-border::before {
  filter: blur(40ox);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}



.animation-border img {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 12 / 9;
  display: block;
}




.content {
  background: pink;
  width: 100%;
  height: 650px;
}

.content .bg-image {
  background-image: url('https://github.com/masumbillah6778/image/raw/main/shirina.jp');
  background-image: url('https://github.com/masumbillah6778/image/raw/main/a4.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.content .text-box {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: px solid Red;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  border-radius: 20px;
  z-index: 2;
}

.content .text p {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  text-align: justify;
}

.content .text p span {
  color: yellow;
  font-weight: bold;
}
  
  
/*================== Play Button ===================*/
  
.contant .sticky-button {
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  position: sticky;
  float: right;
  cursor: pointer;
}
  
.play {
  background: black;
  width: 100px;
  height: 100px;
  margin-bottom: 300px;
  margin-left: 800px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
.sticky-button a {
  color: yellow;
  padding: 10px;
  font-size: 20px;
}
  
  
  
/*================= Next & Preview Button ==============*/
  
.topnav {
  background: -webkit-linear-gradient(110deg, green 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, red 66%, green 66%);
  overflow: hidden;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  border-radius: 50px;
  z-index: 9999;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
  
  
.topnav a.left {
  background-color: #04AA6D;
  color: white;
  float: left;
}

.topnav a.right {
  background-color: #04AA6D;
  color: white;
  float: right;
}

/*================= highlight ==============*/

.highlight {
  background: ;
  color: yellow;
  padding: 10px;
  font-style: italic;
  display: block;
  border-left: 5px solid red;
  border-radius: 30px 5px 30px 5px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
  

  
  
  
  
  
  
  
  
  
/* ============================================= MOBILE VIEW ============================================= */
@media only screen and (min-width: 300px) and (max-width: 576px) {
  
  .content {
    width: 100%;
    height: 600px;
    vertical-align: middle;
   overflow: scroll;
  }
  
  .content .text p {
    width: 100%;
    height: 400px;
    font-size: 15px;
  }
  
  .play {
    background: black;
    width: 100px;
    height: 100px;
    margin-left: 285px;
  }
}
