@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');

.animation-border {
  margin-bottom: 20px;
  --angle: 0deg;
  text-align: center;
  border: 10px solid;
  border-image: linear-gradient(var(--angle), Red, Red, Green, Green, Blue, Blue, Yellow, Yellow) 1;
  animation: 4s rotate linear infinite;
}
  
.animation-border::before {
  filter: blur(40ox);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.animation-border img {
  width: 300px;
  aspect-ratio: 12 / 9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
  
  
  
  
  
  
.text-box {
  background: Gray;
  width: 100%;
  height: 830px;
}
  
#background {
  background-image: url("https://github.com/masumbillah6778/image/raw/main/shirina.jpg");
  width: 100%;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
  
.text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  width: 90%;
  height: 700px;
  margin-top: 20px;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: px solid Red;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  z-index: 2;
}
  
.text p {
  width: 100%;
  height: 610px;
  overflow-y: scroll;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: justify;
}
  
.highlight {
  background: ;
  color: yellow;
  padding: 10px;
  font-style: italic;
  display: block;
  border-left: 5px solid red;
  border-radius: 30px 5px 30px 5px;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
  
  
  
/*================== Play Button ===================*/
  
.text .sticky-button {
  bottom: 100px;
  right: 100px;
  z-index: 9999;
  position: sticky;
  float: right;
  cursor: pointer;
}
  
.play {
  background: black;
  width: 100px;
  height: 100px;
  margin-bottom: 300px;
  margin-left: 540px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
.sticky-button a {
  color: yellow;
  padding: 10px;
  font-size: 20px;
}
  
  
  
  
  
  
  
/*================= Next & Preview Button ==============*/
  
.topnav {
  background: -webkit-linear-gradient(110deg, green 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, red 66%, green 66%);
  width: 93%;
  height: 50px;
  margin: 10px auto;
  overflow: hidden;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  border-radius: 50px;
  z-index: 9999;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
  
  
.topnav a.left {
  background-color: #04AA6D;
  color: white;
  float: left;
}

.topnav a.right {
  background-color: #04AA6D;
  color: white;
  float: right;
}

  
  
/* ==================== MOBILE SIZE ==================== */  
  
@media only screen and (max-width: 400px) {
  .text-box {
    background: Gray;
    width: 100%;
    height: 470px;
  }
  
  #background {
    background-image: url("https://github.com/masumbillah6778/image/raw/main/shirina.jpg");
    width: 350px;
    height: 400px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  
  
  
  .text p {
    width: 300px;
    height: 290px;
    font-size: 15px;
  }
  
  .text .sticky-button {
    bottom: 230px;
    left: 230px;
    right: 230px;
  }
  
  .play {
    background: yellow;
    width: 20px;
    height: 20px;
    margin-bottom: 300px;
    margin-left: 200px;
  }
  
  .sticky-button a {
    color: red;
    padding: 5px;
    font-size: 20px;
  }
}



