form label {
  cursor: pointer;
}

.table-searchable .is-hidden {
  display: none;
}

.table-searchable .is-match {
  background-color: lawngreen;
  transition: background-color .5s ease-in;
}

.table-searchable td[data-searchable="false"] {
  background-color: lightcoral;
}
