/*================================== Table Box ==================================*/
  
.table-box {
  background: ;
  width: 97.2%;
  height: 600px;
  overflow: scroll;
  border: 9px;
  border-style: groove;
  border-left-color: Blue;
  border-top-color: Yellow;
  border-right-color: Green;
  border-bottom-color: Red;
}
  
.table-box table {
  background: ;
  width: 100%;
  height: 100%;
}
  
.table-box th, td {
  border-bottom: 1px solid #C9D1DC;
}

.table-box tr:last-child td {
  border-bottom: none;
}

.table-box table th {
  background: #007874;
  color: White;
  line-height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border: 2px;
  border-style: solid;
  border-color: Red;
  z-index: 1;
}
  
.page .table-box th.sticky {
  background: yellow;
  color: red;
}
  
.table-box table tbody {
  width: 100%;
}

.table-box table td {
  color: Black;
  width: 160px;
  height: 50px;
  min-width: 160px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border: 2px;
  border-style: solid;
  border-color: green;
}
  
.table-box table .sticky {
  background: #007874;
  color: White;
  font-weight: 500;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  border: 2px;
  border-style: solid;
  border-color: Red;
  z-index: 1;
}
  
.table-box table tr:nth-child(even){
  background-color: #f2f2f2;
}

.table-box table td:hover{
  border: 2px solid Red;
}







@media only screen and (min-width: 300px) and (max-width: 576px) {
  .page .table-box table {
    border-collapse: collapse;
  }
  
  .page .table-box th {
    background: green;
    width: 100px;
    min-width: 100px;
    font-size: 15px;
    border: 1px solid black;
    box-shadow: 0 5px 5px -5px #333;
  }
  
  .page .table-box th.sticky {
    background: yellow;
    color: red;
  }
  
  .page .table-box td {
    width: 100px;
    min-width: 100px;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
  }
  
  .table-box table .sticky {
    background: red;
    box-shadow: 5px 0 5px -5px #333;
  }
  
  .table-box table td spn {
    color: green;
    padding-left: 10px;
    font-size: 30px;
    font-weight: normal;
    word-spacing: normal;
  }
  
  .red::after {
    background: green;
  }
}
