/*================================== Table Box ==================================*/
  
.table-box {
  background: ;
  width: 97.2%;
  height: 600px;
  overflow: scroll;
  border: 9px;
  border-style: groove;
  border-left-color: Blue;
  border-top-color: Yellow;
  border-right-color: Green;
  border-bottom-color: Red;
}
  
.table-box table {
  background: ;
  width: 100%;
  height: 100%;
}
  
.table-box th, td {
  border-bottom: 1px solid #C9D1DC;
}

.table-box tr:last-child td {
  border-bottom: none;
}

.table-box table th {
  background: #007874;
  color: White;
  line-height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border: 2px;
  border-style: solid;
  border-color: Red;
  z-index: 1;
}
  
.page .table-box th.sticky {
  background: yellow;
  color: red;
}
  
.table-box table tbody {
  width: 100%;
}

.table-box table td {
  color: Black;
  width: 160px;
  height: 50px;
  min-width: 160px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border: 2px;
  border-style: solid;
  border-color: green;
}
  
.table-box table .sticky {
  background: #007874;
  color: White;
  font-weight: 500;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  border: 2px;
  border-style: solid;
  border-color: Red;
  z-index: 1;
}
  
.table-box table tr:nth-child(even){
  background-color: #f2f2f2;
}

.table-box table td:hover{
  border: 2px solid Red;
}
