.page {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://github.com/masumbillah6778/images/raw/main/masum.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
  float: left;
}
  
.text p {
  color: ;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}
  
.text-to-voice {
   
}

.text-to-voice p::first-line {
  color: yellow;
  font-size: 30px;
  font-weight: bold;
  text-decoration: nderline;
}
  
#paragraph {
  color: white;
  height: 680px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  overflow-y: auto;
}
  
#readButton {
  background-color: green;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
  border-radius: 100px;
}
  
.fa-volume-high {
  color: yellow;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
}

#readButton:active {
  background-color: red;
}
  
.fa-volume-high:active {
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
}
  
  
@media only screen and (max-width: 600px) {
  .page {
    width: 100%;
    height: 470px;
    padding: 5px 0px;
    overflow-y: auto;
  }
  
  #paragraph {
    height: 450px;
    color: white;
  }

  #readButton {
    right: 10px;
    top: 10px;
    }
  
  .text-to-voice p::first-line {
    color: yellow;
  }
}
