@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {}


/*======================================= Player =======================================*/
.content {
  width: 100%;
  background-color: ;
  border: 4px solid blue;
}

.content h1 {
  background-color: red;
  color: yellow;
  margin-bottom: 10px;
  padding: 5px 0px;
  text-align: center;
}

.mhn-player {
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 670px;
  position: relative;
  box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  border: 2px solid Red;
}

.mhn-player .album-art,
.mhn-player .album-thumb {
  background: url(=) no-repeat center / 50%;
}

.mhn-player .album-art {
  width: 60%;
  aspect-ratio: 16 / 9;
  margin: auto;
  overflow: hidden;
  position: relative;
  border: 4px solid White;
}

.mhn-player .album-art img {
  width: 100%;
  display: block;
}

.mhn-player .album-art:before {
  top: 30px;
  left: 50%;
  width: 200px;
  content: 'music';
  font-size: 72px;
  font-weight: 600;
  position: absolute;
  margin-left: -100px;
  color: rgba(255,255,255,.4);
}

.mhn-player .album-art:after {
  background: linear-gradient(to bottom, rgba(0,0,0,.2),  rgba(0,0,0,1));
  top: 0;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
}

.mhn-player .album-art img {
  width:100%;
  position:relative;
}
.mhn-player .album-art.blur img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

.mhn-player a {
  color: inherit;
  text-decoration: none;
}











/*======================================= Diplay Song Details =======================================*/

.mhn-player .current-info {
  margin-left: 300px;
  margin-right: -15px;
  left: 30px;
  right: 30px;
  bottom: 190px;
  position: absolute;
  text-shadow: 0 2px 4px #000;
}
.mhn-player .current-info>div {
  margin-top:10px;
}

.mhn-player .current-info .song-title {
  color: yellow;
  font-size:20px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: italic;
}
  
.mhn-player .current-info .song-artist{
  color: red;
  font-size: 15px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: itali;
}
  
.mhn-player .current-info .song-album{
  color: cyan;
  font-size: 15px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: italic;
}







/*======================================= Song List Icon =======================================*/

.mhn-player .controls {
  margin: 30px 20px;
  position: elative;
}
.mhn-player .controls .toggle-play-list {
  background-color: maroon;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 330px;
  bottom: 135px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid;
}





/*======================================= Song List Details =======================================*/


.mhn-player .play-list {
  background: rgba(0,0,0,.4);
  width: 58%;
  height: 490px;
  margin: auto;
  top: 85px;
  left: 15px;
  right: 15px;
  display: none;
  bottom: 245px;
  overflow-y: auto;
  position: absolute;
  padding: 10px 0px;
  border: 2px solid red;
}

.mhn-player .play-list a {
  margin: 5px 10px;
  padding: 6px 10px;
  font-family: solaiman-lipi;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .4s ease-in-out 0s;
  border: 1px solid white;
}

.mhn-player .play-list a.active {
  background-color: rgba(0,0,0,5);
  margin: 0 10px;
}

.mhn-player .play-list .album-thumb {
  background-color: blue;
  width: 35px;
  height:35px;
  padding: 7px 0px;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid Blue;
}

.mhn-player .play-list .album-thumb img {
  width: 100%;
  display: block;
}

.mhn-player .play-list .songs-info {
  max-width: 240px;
  text-shadow: 0 2px 2px #000;
}
.mhn-player .play-list .songs-info .song-title {
  color: white;
  font-size: 20px;
}
.mhn-player .play-list .songs-info .songs-detail {
  color: yellow;
  font-size: 10px;
  overflow:hidden;
  text-overflow:ellipsis;
}








/*======================================= Song Details =======================================*



*,:after,:before{box-sizing:border-box}




.track{
    width:2px;
    margin-right:5px;
    background:rgba(0,0,0,0);
    transition:background 250ms linear;
}

.track:hover,
.track.dragging{
  background: green;
  background:rgba(0,0,0,.15);
}

.handle {
  background: Brown;
  background: rgba(255,255,255,.2);
  width: 2px;
  transition: width 250ms;
  right: 0;
}

.mhn-player .current-info .fa {
  min-width: 0px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}





/*======================================= Time =======================================*/

.pull-right {
  float:right
}

.clearfix:after,
.clearfix:before {
  content:'';display:table
}

.clearfix:after {
  clear:both;display:block
}

span.pull-left.play-position {
  color: cyan;
  font-size: 20px;
  font-family: ;
  font-weight: bold;
}

span.play-current-time {
  color: yellow;
  font-size: 20px;
  font-family: ;
  font-weight: bold;
}

span.play-total-time {
  color: green;
  font-size: 20px;
  font-family: ;
  font-weight: bold;
}






/*======================================= Progress =======================================*/

.mhn-player .controls .progress {
  background-color: red;
  height: 5px;
  margin: 15px 0;
  position: relative;
  border-radius: 10px;
}
.mhn-player .controls .duration {
  color: White;
  font-size:14px;
}
.mhn-player .controls .progress .bar {
  width:0;
  display:block;
  height:inherit;
  background: Yellow;
  box-shadow:0 0 5px 0 #bc3958;
}





/*======================================= Controls Button =======================================*/


.mhn-player .controls .action-button a {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
}

.mhn-player .controls .action-button a:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out;
}

.prev {
  background-color: red;
}

.fa.fa-step-backward:before {
  color: white;
}

.play-pause {
  background-color: yellow;
}

.mhn-player .controls .fa-pp:before {
  content:'\f04b';
  color: red;
}

.mhn-player .controls .active .fa-pp:before {
  content:'\f04c';
  color: blue;
}

.stop {
  background-color: green;
}

.fa.fa-stop:before {
  color: white;
}

.next {
  background-color: blue;
}

.fa.fa-step-forward:before {
  color: yellow;
}


.mhn-player .controls .action-button a:hover,
.mhn-player .controls .action-button a.active {
  color: Green;
}
.mhn-player .controls .action-button a .fa {
  font-size:inherit;
}







/*======================================= Volume =======================================*/

.volume {
  background: transparent;
  width: 200px;
  height: 10px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none;
}

.volume::-webkit-slider-runnable-track {
  background-color: Magenta;
  height: 7px;
  -webkit-appearance: none;
  border-radius: 10px;
}

.volume::-webkit-slider-runnable-track {
  background-image: linear-gradient(Yellow, Red,);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.volume::-moz-range-track {
  background-color: red;
  height: .5em;
  border: none;
  border-radius: .25em;
}

.volume::-ms-track {
  background: Orange;
  color: transparent;
  height: .5em;
  border: none;
  border-radius: .25em;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  margin: -6px;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.volume::-moz-range-thumb{
  border:none;
  /* Firefox, IE */
  width:1em;
  height:1em;
  cursor:ew-resize;
  border-radius:.5em;
}
.volume::-ms-thumb{
  border:none;
  /* Firefox, IE */
  width:1em;
  height:1em;
  border-radius:.5em;
}
.volume::-ms-fill-lower, .volume::-ms-fill-upper{
  border-radius:5em;
  background:transparent;
}
.volume::-ms-tooltip{
  display:none;
}
.volume::-ms-fill-lower{
  background: Lime;
}
.volume::-webkit-slider-thumb{
  background: Red;
}
.volume::-moz-range-thumb{
  background: Yello;
}
.volume::-ms-thumb{
  background: Yellow;
}

.volume::-webkit-slider-runnable-track{
  background-size:50% 100%;
  background-repeat:no-repeat;
  background-image:linear-gradient(Yellow, Red);
}
.volume::-moz-range-track{
  background-size:50% 100%;
  background-repeat:no-repeat;
  background-image:linear-gradient(Yellow, Red);
}
.volume[data-css="0"]::-webkit-slider-runnable-track{background-size:0% 100%}
.volume[data-css="0"]::-moz-range-track{background-size:0% 100%}
.volume[data-css="0.1"]::-webkit-slider-runnable-track{background-size:10% 100%}
.volume[data-css="0.1"]::-moz-range-track{background-size:10% 100%}
.volume[data-css="0.2"]::-webkit-slider-runnable-track{background-size:20% 100%}
.volume[data-css="0.2"]::-moz-range-track{background-size:20% 100%}
.volume[data-css="0.3"]::-webkit-slider-runnable-track{background-size:30% 100%}
.volume[data-css="0.3"]::-moz-range-track{background-size:30% 100%}
.volume[data-css="0.4"]::-webkit-slider-runnable-track{background-size:40% 100%}
.volume[data-css="0.4"]::-moz-range-track{background-size:40% 100%}
.volume[data-css="0.5"]::-webkit-slider-runnable-track{background-size:50% 100%}
.volume[data-css="0.5"]::-moz-range-track{background-size:50% 100%}
.volume[data-css="0.6"]::-webkit-slider-runnable-track{background-size:60% 100%}
.volume[data-css="0.6"]::-moz-range-track{background-size:60% 100%}
.volume[data-css="0.7"]::-webkit-slider-runnable-track{background-size:70% 100%}
.volume[data-css="0.7"]::-moz-range-track{background-size:70% 100%}
.volume[data-css="0.8"]::-webkit-slider-runnable-track{background-size:80% 100%}
.volume[data-css="0.8"]::-moz-range-track{background-size:80% 100%}
.volume[data-css="0.9"]::-webkit-slider-runnable-track{background-size:90% 100%}
.volume[data-css="0.9"]::-moz-range-track{background-size:90% 100%}
.volume[data-css="1"]::-webkit-slider-runnable-track{background-size:100% 100%}
.volume[data-css="1"]::-moz-range-track{background-size:100% 100%}















.calendar {
  background:;
  color: Black;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
  
.calendar a {
  line-height: 30px;
}

a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
  
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
  
  
  
.calendar i:before {
  color: Blue;
  margin-left: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color:red;
  }
  
  25% {
    color:yellow;
  }
  
  50% {
    color:blue;
  }
  
  75% {
    color:green;
  }
  
  100% {
    color:red;
  }
}













@media only screen and (max-width: 600px) {
  .mhn-player {
    height: 600px;
    border: 2px solid magenta;
  }

  .mhn-player .album-art {
    max-width: 460px;
    aspect-ratio: 1 / 1;
    display: block;
    border: 4px solid yellow;
  }

  .mhn-player .album-art img {
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
  }

  .mhn-player .current-info {
    margin-left: 80px;
    margin-bottom: 140px;
    position: absolute;
  }

  .mhn-player .controls {
    margin-top: 20px;
  }

  .mhn-player .controls .toggle-play-list {
    background-color: yellow;
    color: red;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    right: 30px;
    bottom: 120px;
  }

  .mhn-player .play-list {
    width: 90%;
    height: 420px;
    margin-top: -70px;
  }
}